
//====================================================================================================

.footer {
    background-color: #aeaeae;
    padding: 170px 40px 65px;
    @media (max-width:$md2+px){
        padding: 50px 40px 30px;
    }
    @media (max-width:$md3+px){
         padding: 30px 40px; 
    }
    &__copy {
        margin-top: 115px;
        text-align: center;
        font-family: Roboto;
        font-size: 12px;
        line-height: 21px;
        font-weight: 400;
        color: #000000;
        @media (max-width:$md2+px){
            margin-top: 40px;
        }
        @media (max-width:$md3+px){
             margin-top: 0; 
        }
    }
}

//====================================================================================================

